*{
    box-sizing: border-box;
}

.all{
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    height: 60px;
    overflow: hidden;
   background-color: white; 
   /*padding: 11.2px 24px;*/
   border-bottom: 1px solid #eaecef;
}

.navbar a{
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 30px 18px;
   /* margin-bottom: 15px; */
    font-size: 20.8px;
    font-weight: 600;
    color: #2c3e50;
}

#direction{
    float: left;
}
.navbar .search-container{
    float: right;
    margin-top: 30px;
    padding: 6px auto;
}



.home{
    margin: 0px auto;
    padding-top: 57.6px;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 32px;
}
.head{
    text-align: center;
   /* border-bottom: 1px solid #eaecef; */
}
.head img{
    max-height: 120px;
    margin-top: 48px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#main-title{
    margin-top: 16px;
}

.description{
    margin: 16px auto;
    max-width: 880px;
    color: #6a8bad;
}

.button{
    margin: 28.8px auto; 
    padding: 8.8px 16px;
    background-color: #c23582; 
    border-radius: 4px;
    border-bottom: none;
    font-size: 16px;
    color: #ffffff;
}

.button:hover{
    background-color: #cc458f;
}

.features{
    border-top: 1px solid #eaecef;
    padding: 19.2px 0px;
    margin-top: 40px;
    justify-content: space-between;
}
.feature{
    float: left;
    max-width: 33.3%;
    padding: 15px;
}

/* clear the elements after to move to the next line */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.feature h2{
    color: #3a5169;
    font-size: 22.4px;
    font-weight: 500;
    margin: 18.592px 0px;
}

.feature p{
    color: #4e6e8e;
    margin: 16px 0px;
}

.link-title h2{
    color: #3a5169;
    font-size: 22.4px;
    font-weight: 500;
    margin-top: 24px;
}

hr{
    border: 0px;
    border-top: 1px solid #eaecef;
}



.feature-link a{
    text-decoration: none;
    color: #c23582;
    font-weight: 500;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 130px;
    margin-right: 15px;
}

.supporters{
    text-align: center;
    margin-bottom: 25px;
}
.supporters hr{
    border: 0px;
    border-top: 1px solid #eaecef;
    margin: 8px auto;
}

.supporters p{
    color: #4e6e8e;
    font-size: 14.4px;
    margin: 24.8px 12px;
    align-content: center;
}

.supporter{
    margin: 0px 19.2px;
    


}

.supporter a{
    color: #c23582;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.supporter img{
    max-width: 70px;
}
.footer{
    font-size: 14.4px;
    padding: 40px;
    border-top: 1px solid #eaecef;
    text-align: center;
    color: #4e6e8e;

}